<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>
                Problemas que genera el rudio</h3>
            <ul>
                <li>
                    Nivel de Presión Sonora (NPS)</li>
                <li>
                    Percentiles (LN)</li>
                <li>
                    Nivel Continuo Equivalente (Leq)</li>
                <li>
                    Nivel de Exposición Sonora (SEL)</li>
                <li>
                    Nivel de Presión Sonora Máximo (Lmáx)</li>
                <li>
                    Nivel de Presión Sonora Mínimo (Lmín)</li>
            </ul>
            <h3>
                Características</h3>
            <ul>
                <li>
                    Micrófono intemperie</li>
                <li>
                    Rango dinámico 100 dB.</li>
                <li>
                    Ponderaciones A, C y Flat</li>
                <li>
                    Respuesta Fast, Slow, Peak e Impulso</li>
                <li>
                    Memoria Flash de 256 MB</li>
                <li>
                    Baterías Alcalinas: 36 horas medición continua</li>
                <li>
                    Conexión de batería Adicional para monitoreos continuos</li>
            </ul>
 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
        
        </div>
      </div>
    </div>
  </div>
  <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->