<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="img/sonalert.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Volver a la pagina principal
      </a>
    </div>
  </nav>